.App {
  min-height: 100%;
}

.header {
  img {
    width: 9rem;
    height: 9rem;
  }
}
.movie-card {
  background-color: pink;
  .movie-card-img {
    height: "60%";
    object-fit: "cover";
  }
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-sorry {
  height: 15rem;
}

.image-board {
  position: fixed;
  top: 20%;
  right: 5%;
  z-index: -10;
  opacity: 0.05;
}

.image-suprised {
  height: 10rem;
}

@media only screen and (max-width: 600px) {
  .image-board {
    position: fixed;
    height: 80%;
    top: 40%;
    left: 0%;
    z-index: -10;
    opacity: 0.1;
  }
}
