.App {
  min-height: 100%;
}

.header {
  img {
    width: 9rem;
    height: 9rem;
  }
}
.movie-card {
  background-color: pink;
  .movie-card-img {
    height: "60%";
    object-fit: "cover";
  }
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-sorry {
  height: 15rem;
}
