@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
body {
  font-family: "Bai Jamjuree", sans-serif;
  h1 {
    font-family: "Palette Mosaic", cursive;
  }
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span,
  td,
  th,
  button,
  strong {
    font-family: "Bai Jamjuree", sans-serif;
    color: darken(white, 15%);
  }
  h1 {
    text-transform: uppercase;
    word-spacing: 20px;
    letter-spacing: 5px;
    font-size: 5rem;
    font-weight: 400;
    color: darken(white, 10%);
    text-shadow: 1px 1px 5px darken(white, 30%);
  }
  h2 {
    text-shadow: 1px 1px 20px inherit;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
